<!doctype html>
<html>

<head>
    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/99abec536a.js" crossorigin="anonymous"></script>
</head>

<title>about us</title>

<link rel="stylesheet" href="{{url_for('static',filename='style(9).css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap" rel="stylesheet">


</head>

<body>

    <section class="subheader">
        <nav>
            <a href="/"> <img src=""></a>
            <div class="nav-links">
                <ul>
                    <li> <a href="/home"> HOME</a> </li>
                    <li><a href="/about"> ABOUT </a> </li>
                    <li><a href="/how">WORKING</a> </li>
                    <li><a href="/emotion">EXPRESSION</a> </li>
                    <li><a href="/contact">CONTACT</a> </li>
                </ul>
            </div>
        </nav>

        <h1>ABOUT US</h1>
    </section>

    <!--------------about us content------------------>

    <section class="about-us">
        <div class="row">
            <div class="about-col">
                <h1>Facial Expression Recognition Web App</h1>
                <br>
                <p>
                    A facial expression is one or more motions or positions of the muscles beneath the skin of the face.
                    According to one
                    set of controversial theories, these movements convey the emotional state of an individual to
                    observers. Facial
                    expressions are a form of nonverbal communication.
                </p>
                <br>
                <p>

                    Automatic emotion recognition based on facial expression is an interesting research field, which has
                    presented and
                    applied in several areas such as safety, health and in human machine interfaces. Researchers in this
                    field are
                    interested in developing techniques to interpret, code facial expressions and extract these features
                    in order to have a
                    better prediction by computer. With the remarkable success of deep learning, the different types of
                    architectures of
                    this technique are exploited to achieve a better performance
                </p>
                <br>
                <p>

                    Deep learning is a new area of research within machine learning method which can classify images of
                    human faces into
                    emotion categories using Deep Neural Networks (DNN). Convolutional neural networks (CNN) have been
                    widely used to
                    overcome the difficulties in facial expression classification.

                </p>

                <br>
                <a href="/emotion" class="contain-btn red-btn">Explore now</a>
            </div>
    </section>

    <!--------------call to action------------------>

    <section class="cta">
        <h1>Contact us</h1>
        <a href="/contact" class="contain-btn"> Click here</a>

    </section>

    <!--------------about us------------------>

    <section class="footer">
        <div class="icons">

            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>

        </div>

    </section>

</body>

</html>
<p>we make this beacause if we are take this technique to the advance level it will help us in so many
    ways. if we are talking about the ways then imagine a situation in which a polytical party rally is
    going
    and
    some criminal is arrived,so this technique can help to find the criminal. if we are using the drone
    which has the webcam and it will detect the criminal emotion beacause the crminal has the diffrent
    emotion on them face if we are comparing them to the other peoples.</p>