<!doctype html>
<html>

<head>
    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/99abec536a.js" crossorigin="anonymous"></script>


    <title>Facial expression Recognition</title>

    <link rel="stylesheet" href="{{url_for('static',filename='style(9.1).css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />


</head>

<body>

    <section class="headers">
        <nav>
            <a href="/"> <img src=""></a>
            <div class="nav-linkss">
                <ul>
                    <li> <a href="/">HOME</a> </li>
                    <li><a href="/aboutus">ABOUT</a> </li>
                    <li><a href="/working">WORKING</a> </li>
                    <li><a href="/expression">EXPRESSION</a> </li>
                    <li><a href="/contactus">CONTACT</a> </li>
                    <li><a href="/login">LOG IN</a> </li>
                </ul>
            </div>
        </nav>

        <div class="text-box">
            <h1> Facial Expression Recognition Web App </h1>
            <p>welcome to our webpage</p>
        </div>




        <!-- card -->

        <div class="containerc">
            <div class="cardc">
                <div class="card-headerc">
                    <img src="{{url_for('static',filename='f7.jpg')}}">
                </div>


            </div>
            <div class="cardc">
                <div class="card-headerc">
                    <img src="{{url_for('static',filename='v2.png')}}">

                </div>
            </div>
            <div class="cardc">
                <div class="card-headercc">
                    <img src="{{url_for('static',filename='f6.jpg')}}">
                </div>

            </div>
        </div>
        </div>
</body>

</html>

</section>



</body>

</html>