<!doctype html>
<html>

<head>
    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/99abec536a.js" crossorigin="anonymous"></script>
</head>

<title>Working</title>

<link rel="stylesheet" href="{{url_for('static',filename='style(9).css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
</head>

<body>
    <nav>
        <div class="nav-linksw">
            <ul>
                <li> <a href="/">HOME</a> </li>
                <li><a href="/aboutus">ABOUT</a> </li>
                <li><a href="/working">WORKING</a> </li>
                <li><a href="/expression">EXPRESSION</a> </li>
                <li><a href="/contactus">CONTACT</a> </li>
                <li><a href="/login">LOG IN</a> </li>

            </ul>
        </div>
    </nav>

    <div class="loginimg">
        <img src="{{url_for('static',filename='Mobile login-pana.png')}}">
    </div>

    <div class="notvisitpage">
        <p>for accessing this page you have to login first</p>

    </div>

    <div class="text-box">
        <a href="/login" class="contain-btn"> <ion-icon name="log-in-outline"></ion-icon>&nbsp &nbsp Log in &nbsp &nbsp
        </a>


    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>